@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Colores Principales */
  --color-primary-dark: #1e59ea;
  --color-primary-medium: #007bff;
  --color-primary-light: #66ccff;

  /* Colores Secundarios */
  --color-secondary-dark: #006400;
  --color-secondary-medium: #00cc66;
  --color-secondary-light: #99ff99;

  /* Colores de Apoyo */
  --color-support-dark: #161616;
  --color-support-medium: #cccccc;
  --color-support-light: #f5f5f5;

  /* Colores de Acento */
  --color-accent-dark: #daa520;
  --color-accent-medium: #ffd700;
  --color-accent-light: #fff8dc;

  /* Fondo */
  --color-background: #ffffff;

  /* Texto */
  --color-text-primary: #000000;
  --color-text-secondary: #33333300;
  --color-text-light: #ffffff;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}
